@media screen and (max-width:1024px) {

    /* 검색창 */
#header .depth1 {
    position: relative;
}
#header .search {
    position: absolute;
    right: 63px;
    top: 47px;
    font-size: 20px;
    transform: translateY(0%);    
    z-index: 999;
}
#header .search #sbox {
    border: none;
    outline: none;
    text-indent: 1em;
    width: 0px;
    overflow: hidden;
    transition: all 0.5s;
    background: #ddd;
    padding: 7px 0;
}
#header .search #sbox.on {
    width: 190px;
}

/* 열기. 닫기 */
#header {
    position: relative;
}
#header .open,
#header .close {
    position: absolute;
    right: 5%;
    top: 30%;
    bottom: 30%;
    display: none;
    font-size: 32px;
    background: none;
    border: none;
    color: #ed5c20;
}
#header .open.on {
    display: block; /**/
}
#header .close {
    right: 5.4%;
}
#header .close.on {
    display: block; /**/
}

/* 헤더 네비게이션 1차메뉴 */
#header #nav .depth1 {
    float: none;
    display: block;
    padding: 15px 0;
    width: 40%;
}
#nav {
    position: relative;
}
#header #nav .depth2 {
    float: none;
    display: none;
    padding-top: 0px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 9999;
}
#header #nav .depth2.on {
    display: block;
}
#header #nav .depth3 > li {
    float: none;
    width: 100%;
    position: static;
    padding-bottom: 0px;
    border-bottom: 1px solid #999;
}
#header #nav .depth3>li:nth-child(5) {
    border-bottom: none;
}
#header #nav .depth3 a:hover {
    color: #00529b;
}
#header #nav .depth3>li>a {
    display: block;
    padding: 15px 0;
    background: #fff;
}
#header #nav .depth4 {
    position: static;
}
    /*마지막 영역*/
}